
<% if @past_bounces.length > 0 %>
  <h1>Past Bounces</h1>
  <ul id="past-bounces">
    <% 
      @past_bounces.each do |bounce|
        follow = bounce.follow
        twitter_user = follow.twitter_user 
    %>
      <li>
        Auto-followed <%= twitter_user.username %>.
      </li>
    <% end %>
  </ul>
<% end %>

<form id="search" class="ajax" action="/search" method="get">
		<input class="search-box" name="q" type="text" />
		<input class="reset" type="reset" value="Clear" />
		<div class="clear"></div>
</form>

<ul id="follow-search-results">
	<% 
		@follows.each { |follow|
			twitter_user = follow.twitter_user 
	%>
		<li id="follow_<%= follow.id %>">
			<img src="<%= twitter_user.picture_url %>" />
			<div class="name"><%= twitter_user.name %></div>
			<div class="username"><%= twitter_user.username %></div>
			<div class="last-tweet"><%= twitter_user.last_tweet %></div>
			<div class="last-tweet-at"><%= twitter_user.last_tweet_at %></div>
			<% if follow.bounce.nil? %>
				<a class="bounce-link ajax" href="/bounce?id=<%= follow.id %>">Bounce</a>
			<% else %>
				<a class="bounce-link ajax" href="/unbounce?id=<%= follow.id %>_<%= follow.bounce.id %>">Un-Bounce</a>
			<% end %>
			
		</li>
	<% } %>
</ul>
