<!DOCTYPE html>
<html>
<head>
  <title>stream bouncer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div id="header-logo">
  	<h1>stream bouncer</h1>
  </div>
  
  <% 
    unless @logged_in_user.nil?
      twitter_user = @logged_in_user.twitter_user
  %>
  	<div id="login-widget">
      <img src="<%= twitter_user.picture_url %>" />
  		<div class="username"><%= twitter_user.username %></div>
  		<div class="name"><%= twitter_user.name %></div>
  		<a class="ajax" href="/logout">Logout</a>
  	</div>
  <% end %>
</div>
<div style="clear: both;"></div>

<div id="content">
<%= yield %>
</div>

<% if RAILS_ENV == 'production' %>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6371366-21']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>

</body>
</html>
